<div *ngIf="showButtons" class="mb-4 grid grid-cols-1 gap-6 xl:grid-cols-3">
  <!-- Botón para Categoría -->
  <div
    class="relative flex flex-col items-center justify-center bg-clip-border rounded-xl bg-white text-gray-700 shadow-md overflow-hidden p-6 cursor-pointer hover:shadow-lg transition-shadow"
    (click)="navigateTo('categorias')"
  >
    <img
      src="assets/images/categoria.png"
      alt="Categoría"
      class="w-20 h-20 mb-4"
    />
    <h6 class="text-lg font-semibold text-blue-gray-900">Categoría</h6>
    <p class="text-sm text-blue-gray-600">Gestiona las categorías</p>
  </div>

  <!-- Botón para Productos -->
  <div
    class="relative flex flex-col items-center justify-center bg-clip-border rounded-xl bg-white text-gray-700 shadow-md overflow-hidden p-6 cursor-pointer hover:shadow-lg transition-shadow"
    (click)="navigateTo('productos')"
  >
    <img
      src="assets/images/productos.png"
      alt="Productos"
      class="w-20 h-20 mb-4"
    />
    <h6 class="text-lg font-semibold text-blue-gray-900">Productos</h6>
    <p class="text-sm text-blue-gray-600">Gestiona los productos</p>
  </div>

  <!-- Botón para Usuarios -->
  <div
    class="relative flex flex-col items-center justify-center bg-clip-border rounded-xl bg-white text-gray-700 shadow-md overflow-hidden p-6 cursor-pointer hover:shadow-lg transition-shadow"
    (click)="navigateTo('usuarios')"
  >
    <img
      src="assets/images/usuarios.png"
      alt="Usuarios"
      class="w-20 h-20 mb-4"
    />
    <h6 class="text-lg font-semibold text-blue-gray-900">Usuarios</h6>
    <p class="text-sm text-blue-gray-600">Gestiona los usuarios</p>
  </div>
</div>
<!-- Mostrar componente hijo cuando showButtons es false -->
<div *ngIf="!showButtons" class="mt-4">
  <router-outlet></router-outlet>
  <button
    (click)="goBack()"
    class="mt-4 px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition-colors"
  >
    Volver a las opciones
  </button>
</div>
